<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.warm.slaythespireguide.guideslaythespire">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Gameplay"></activity>
        <activity android:name=".Strategy_defect" />
        <activity android:name=".Defect_barrage_build" />
        <activity android:name=".Defect_zeroenergy_build" />
        <activity android:name=".Defect_frost_build" />
        <activity android:name=".Silent_shiv_build" />
        <activity android:name=".Silent_block_build" />
        <activity android:name=".Silent_poison_build" />
        <activity android:name=".Strategy_silent" />
        <activity android:name=".Ironclad_zeromana_build" />
        <activity android:name=".Ironclad_searing_build" />
        <activity android:name=".Ironclad_rupture_build" />
        <activity android:name=".Ironclad_defend_build" />
        <activity android:name=".Strategy_ironclad" />
        <activity android:name=".Ironclad_strat" />
        <activity android:name=".Ascensions" />
        <activity android:name=".Ironclad" />
        <activity android:name=".Defect"/>
        <activity android:name=".Silent"/>
        <activity android:name=".Characters" />
        <!-- Cards -->
        <activity android:name=".Card_Container" />
        <!-- Monster -->
        <activity android:name=".monster_list_container"></activity>
        <activity android:name=".monster_main_menu" />
        <!-- Relic -->
        <activity android:name=".RelicMenu"></activity>
        <activity android:name=".RelicListContainer" />

        <activity android:name=".MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>